@model Constructto.Models.RegistroViewModel

@{
    Layout = ViewData["Layout"] as string;
}

<div class="login-container">
    <img src="/Imagens/foto.png" alt="Logo" class="login-logo" />

    <!-- Mensagem Global de Erro -->
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Erro:</strong>
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="Register" method="post" class="w-100">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control login-input" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control login-input" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control login-input" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control login-input" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary login-button w-100">Register</button>
    </form>
</div>



@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-middle-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <text>
                        toastr.error("@error.ErrorMessage");
            </text>
        }
        });
    </script>
}
