/* Configurações gerais */
html, body {
    font-size: 14px;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-color: #fff; 
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Estilo para elementos focados */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    outline: none; 
}

/* Container da página de login e registro */
.login-container, .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none; 
}

/* Estilo do logo */
.login-logo, .register-logo {
    max-width: 150px; 
    width: 100%; 
    height: auto;
    margin-bottom: 20px;
}

/* Estilo dos inputs de login e registro */
.login-input, .register-input {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

/* Estilo dos botões */
.login-button, .register-button {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #011466;
    color: #fff;
    border: none;
    cursor: pointer; 
}

    .login-button:hover, .register-button:hover {
        background-color: #001f4d; 
    }

/* Estilo secundário para o botão Cadastrar */
.btn-secondary {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #011466;
    color: #fff;
    border: none;
    cursor: pointer; 
}

    .btn-secondary:hover {
        background-color: #001f4d; 
    }


@media (max-width: 768px) {
    .login-input, .login-button, .btn-secondary, .register-input, .register-button {
        max-width: 100%;
        padding: 12px;
    }

    .login-logo, .register-logo {
        max-width: 100px; 
    }
}

/* Grid e layout para a Home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px); 
    grid-gap: 20px; 
    margin-top: 30px;
}

.grid-item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.2s;
    color: white;
    font-size: 2rem; 
}

    .grid-item.blue {
        background-color: #007bff;
    }

    .grid-item.orange {
        background-color: #f39c12;
    }

    .grid-item.red {
        background-color: #e74c3c;
    }

    .grid-item.green {
        background-color: #1abc9c;
    }

    .grid-item:hover {
        transform: scale(1.1); 
    }

